body {
    background: radial-gradient(#3b3b3b, #252525);
}

.game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base {
    display: inline-flex;
    background: #b3ac4b;
    padding: 7.5px;
    border: solid #a7a14e 5px;
}

.pos {
    background: #3b3b3b;
    border-radius: 50%;
    margin: 12.5px 6.25px;
    height: 75px;
    width: 75px;
}

.player-1 {
    background: #df5454;
}

.player-2 {
    background: #5f7dbe;
}